.container span{
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.apres1{
  color: white;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
}

.apres2{
  font-size: 25px;
  color: #c44569;
  animation: text 3s 1;
}

@keyframes text {
  0%{
    opacity: 0;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    margin-bottom: -40px;
  }
}

.branco{
  color: #ffffff;
}